@charset "utf-8";


/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
body {
    line-height:1;
}
 
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
 
nav ul {
    list-style:none;
}
 
blockquote, q {
    quotes:none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
 
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
 
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
 
del {
    text-decoration: line-through;
}
 
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
 
table {
    border-collapse:collapse;
    border-spacing:0;
}
 
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
 
input, select {
    vertical-align:middle;
}



/*ここまでリセットCSS*/



/* ========================================
    全体設計
========================================= */
body {
    color:#722D2D;
    font-size: 14px;
    line-height: 1;
    font-family: "Hiragino Kaku Gothic ProN";
    background-color: #F7EDE4;

    
}

 h2{
    font-size:40px;
    margin-bottom: 25px;
}



/* ========================================
    ヘッダー
========================================= */

header {
    width: 100%;
    height: 738px;
    margin: 0 0;
    background-image: url(image/zerifurai_main_image.png);
    background-repeat: no-repeat;
    background-size:cover;
    

}



.header_box{
    width: 81%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    
}

.logo{
    margin-top: 20px;
}

/*
.logo{
    position: absolute;top: 0 left:0;*/


.menu{
    width: 700px;
    height: 115px;
    position: relative;


}
.menu ul{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;


}

.menu ul li{
    display: block;
    margin-right: 45px;

}

.menu ul li a{
    font-size: 1.3rem;
    color: #722D2D;
    text-decoration: none;
    font-weight: bold;


}


/* ========================================
    ラッパー
========================================= */
.wrapper {
    width: 1120px;
    height: auto;
    margin: 0 auto;
    text-align: center;

}





/* ========================================
    start
========================================= */

.start h1{
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.start p{
    font-size: 35px;
    color: #F24B0E;
    font-weight: bold;
    line-height: 2;
    margin-top: 0px;
    margin-bottom: 0px;
}



.description{
    padding-top:100px;
    margin-bottom: 150px;

}



.description dl{
    display: flex;
    flex-wrap: wrap;

    
    -webkit-justify-content: space-around;
    justify-content: space-around;

}

.description dl:nth-child(odd){
    flex-direction: row-reverse;
}

.description dl:nth-child(even){
    padding-bottom: 150px;
}

.description dt:nth-child(even){
    padding-right: 70px;
}


.description dd{
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    line-height: 2.5;
    letter-spacing: 0.03em;
    box-sizing: border-box;
}



/* ========================================
    recipe
========================================= */




.recipe p{
    font-size: 1.6rem;
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.03em;
}

.recipe p span{
    color: #F24B0E;
}

.recipe video{
    text-align: center;
    margin-bottom: 37px;
}

.btn {
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #F24B0E;
    display: inline-block;
    padding: 1.5rem 7rem;
    border-radius: 8rem;
    color: #FFF;
    transition: .4s;
    font-weight: bold;
    /*display: block;*/
}

.btn:hover {
  background-color: #722D2D;
  
}


/* ========================================
    info
========================================= */

.info h2{
    line-height:1.8;
    margin-top: 150px;

}


.info p{
    font-size: 1.6rem;
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.03em;
}

.info p span{
    color: #F24B0E;
}





/* ========================================
    shoplist
========================================= */


.shoplist ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-basis:40px;
}

.shoplist li{
    list-style: none;

}

.shoplist dt img{
    margin-bottom: 17px;
}

.shoplist dd span{
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-bottom: solid 2px #F24B0E;
    display: inline-block;
    padding-bottom:2px;
    width: 250px;
}

.shoplist dd{
    font-size: 18px;
    line-height: 1.6;

}

.shoplist dd a{
    font-size: 16px;
}
.map_btn{

    text-decoration: none;
    background-color: #F24B0E;
    display: inline-block;
    padding: 0.8rem 4.5rem;
    border-radius: 8rem;
    color: #FFF;
    transition: .4s;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 0.5rem;

}
.map_btn:hover {
  background-color: #722D2D;
  
}



/* ========================================
    footer
========================================= */

footer{
    width: 100%;
    height: 100%;
    background-color: #722D2D;
    margin-top: 90px;
    padding-top: 80px;
    margin-bottom: 0px;
}

.footer_wapper{
    width: 1120px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.footer_wapper p{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 3rem;
    font-weight: bold;
}
.footer_menu{
    width: 620px;
    margin: 0 auto
}
.footer_menu ul{
    display: flex;
    justify-content: space-between;
}

/*下リンク*/

.footer_menu ul a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;

    position: relative;
  display: inline-block;
  text-decoration: none;
}


.footer_menu ul a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #F24B0E;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.footer_menu ul a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

/*下リンク*/
.comment{
    margin: 0 auto;
}
.comment dl{
    display: flex;
}

.comment dt img{
    width: 8rem;
    margin-right: 2rem;
}

.comment {
    width: 832px; height: 160px; background-color:#fff;
    /*box-sizing: border-box;*/
    border-radius: 4em;
    padding: 3.2rem;
    margin: 4rem;
}

.comment dd{
    /*width: 730px; height: 190px; background-color:#fff;
    box-sizing: border-box;
    border-radius: 4em;
    padding: 1rem;*/

    font-size: 0.8rem;
    color: #722D2D;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 2;
    text-align: left;
}

.credit p{
    font-size: 1rem;
}

/* ========================================
    レスポンシブ
========================================= */


@media(max-width: 480px){ 

/*header body{
    max-width: 375px;
    width: 100%;
    
　　
}*/


header {
    width: 30rem;
    height: 40rem;
    margin: 0 0;
    background-image: url(image/zerifurai_main_image.png);
    background-repeat: no-repeat;
    background-size:cover;
    

}



 h2{
    font-size: 4rem;
    
}


.start h1{
    font-size: 5rem;
   
}

.start p{
    font-size: 3.5rem;
    
}


.description dd{
    font-size: 2.6rem;
    line-height:2.3;
    margin-right: 5vw;
    margin-left: 5vw;


    
}

.description dd br{
    display: none;
}



.description dd img{
    width: 340px;
    height: auto;
}

.description dl{
    display: block;
    text-align: center;
    }






.recipe p br{
    display: none;
    
}

.recipe p{
    font-size: 2.6rem;
    margin-right: 5vw;
    margin-left: 5vw;
    
    
}

.btn {
    
    padding:1.9rem 11rem;
}

.btn a {
    font-size: 30px;
  
}




.info p{
    font-size: 2.6rem;
    margin-right: 5vw;
    margin-left: 5vw;
    
}


.name{
    font-size: 2.3rem;
}

.shoplist{
    margin-right: 10vw;
    margin-left: 10vw;
    

}

.shoplist dd{
    font-size: 2rem;
    line-height: 1.6;
}

.shoplist dd span{
    font-size: 2.4rem;

}

.shoplist ul{
    display: block;
    text-align: center;
    }

.shoplist dt img{
    width: 30rem;
    height: auto;

    }


.shoplist ul{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    
}

.shoplist dd a{
    font-size: 30px;
}


.map_btn{
    padding:1.2rem 8.5rem;
}



.footer_menu ul{
    display: block;
}



.comment{
    box-sizing: none;
    width: 340px;

}



.comment {
    width: 63rem; height: 34rem; background-color:#fff;
    box-sizing: border-box;
    border-radius: 4em;
    padding: 3.2rem;

}



.comment dl{
    flex-direction: column-reverse;


}

.comment dd{
    font-size: 1.8rem;



}

.comment dt img{
    width: 18rem;
    margin-top: 9rem;

}

.credit{
    margin-top: 500px;

}



}

/*
.description dd{
font-size: calc(0.8125rem + ((1vw - 4.8px) * 0.3472));
    min-height: 0vw;}

}
*/





 /* .text{
    flex: 1;
  }
@media (min-width: 800px){
    section{
        width: 800px;
        margin: 0 auto;
    }

    aside{
        display: block;
        background: plum;
        width: 160px;
    }

}*/